/* 
[color-purple=""]:hover {color: white; background-color: #5E4D9B;}
[color-purple=""]:hover .checkbox-text-wrap{color: white;}
[color-purple=""]:hover .category-icon-wrap{filter: brightness(9007199254740991%); background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.2);}


[color-aqua=""]:hover {color: white; background-color: #47BCB4;}
[color-aqua=""]:hover .checkbox-text-wrap{color: white;}
[color-aqua=""]:hover .category-icon-wrap{filter: brightness(9007199254740991%);background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.2);}

[color-Pink=""]:hover {color: white; background-color: #FC0280;}
[color-Pink=""]:hover .checkbox-text-wrap{color: white;}
[color-Pink=""]:hover .category-icon-wrap{filter: brightness(9007199254740991%);background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.2);}

[color-orange=""]:hover {color: white; background-color: #F87A3E;}
[color-orange=""]:hover .checkbox-text-wrap{color: white;}
[color-orange=""]:hover .category-icon-wrap{filter: brightness(9007199254740991%);background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.2);}
 */



 .category-checkbox{border-color: attr(data-hover-color);}